@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --fontePadrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Lugrasimo", cursive;
    --cor1: #412B4B;
    --cor2: #220330;
    --cor3: #B893C9;
    --cor4: #D289F4;
    --pretoPadrao: rgb(14, 13, 13);
}
body {
    font-family: var(--fontePadrao);
}
a{
    text-decoration: none;
    color: black;
}
